.vs/
*.user
bin/**
bin-int/**
**/bin/**
**/bin-int/**
**/*.obj
**/*.idb
**/*.pdb
**/*.ilk
**/*.tlog
**/*.lastbuildstate
**/*.recipe
**/*.log

*.sln
*.filters
*.vcxproj
*.vcxproj.user

build*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Testing/
.idea/
